@charset "utf-8";

/*商品详情页面使用 */
.jibie{position: absolute; right: -63px;top: 10px;color:red}
.jibiexiangqing{position: absolute; right: 5%;top: 26px;color:red}
.guodao{background-color: #ff7683;border-radius: 3px;color: #ffffff;font-size: 1.2rem;    line-height: 1rem;}   
.zhongjie{background-color: #ffc99d;border-radius: 3px;color: #ffffff;font-size: 1.2rem;    line-height: 1rem;}   
.divhr{border-top: 0px solid #efefef;}    
.massagediv{padding-left:5px;margin-top:0.5rem} 
.ratedhead{padding-left:5px}
.ratedbody{margin-bottom:15px;margin-top:15px}
.divimg{display:inline;padding-left:5px}
.headimg{border:0;list-style: none;width: 35px; height: 35px;border-radius: 50%;}
.ratename{display:inline}
.ratetime{display:inline; padding-left: 39%; color: #cbcbcb;}
.ratehr{top:6px;width: 100%;margin:0;position: relative;border-bottom:1px;align:center}
.ratetextarea{width:100%;height:100%;background:transparent;border-style:none;resize : none;}
.rategrade{padding-left:10px;font-size:20px}
.tuikuanremark{padding-left:10px;font-size:18px;color:red;height:280px}
.ratetruefalse{padding-top:15%;padding-left:30%}
.ratetruefalsedetail{padding-left:10%}
.ratenonameli{background-color:white;width:60%;text-align:left}
.ratenonamespan{font-size:20px;top:50%;left:20px}

/* 商品评价 */
.goodsInfo ul { margin:0px; }
.goodsInfo .item .lc { padding:5px 5px 5px 10px; }
.goodsInfo .item .lc img { max-width:100%; }
.goodsInfo .item .rc { padding:5px 10px 5px 5px; }
.goodsInfo .item .tag_bar { text-align:right; width: 50%; position:absolute; top:25px; right:5px; }
.goodsInfo .item .act_bar { position:absolute; bottom:0px; right:5px; }


/* 底部购买提交菜单 */
.ratefooter_bar { width:100%; height:60px; display: block; }
.ratefooter_bar ul { width:100%; height:61px; position:fixed; left:0px; bottom:-1px; z-index:90; }
.ratefooter_bar ul { border-top:1px solid #DDDDDD; background-color:#fff; }
.ratefooter_bar ul { list-style:none; padding:0px; margin: 0px; }
.ratefooter_bar li { float:left; width:25%; text-align:center; line-height:60px; padding:0px; margin:0px;}
.ratefooter_bar li a { display:inline-block; width:100%; height:100%; position:relative; text-align:center;}
.ratefooter_bar li span { font-size:11px; color:#434343; position:relative; top:12px; }
.ratefooter_bar .on span { color:#CC3131; }

/*消息中心*/
.massagetime{float:right;font-size:14px;color:#8e8e8e}
.massagestrong{font-size: 1.5rem;color: #fff;text-align: center;width: 1.95rem; height: 1.95rem;border-radius: 1.5rem;background-color: #e6242b;float: left;margin-left: -20px;position:absolute}
.massagetitle{color:black;font-size:17px}
.massagemore{font-size:14px;color:black}

/*退款售后*/
.refundstitle{color:black;font-size:18px;padding-left:9px}
.refundsstate{color:#ff7405;font-size:14px;float:right;margin: 0px 10px 0px 0px;}
.refundsmount{margin:10px 7px 8px 0px;float:right}

/*消息中心 我的账户*/
.quantime{text-align:center;background-color:#efefef;margin: -15px 0px 0px 0px;color:black}
.quantitle{color:black;padding-left:8px;margin-top:10px}
.quanimg{width:88%;height:88%;margin:5px 0px 0px 0px}
.quandetail{padding-left:0px;color:black}